*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

body {
    background: #201f1f;
}

.header {
    width: 100%;
    background: #201f1f;
    height: 80px;
    display:block;
    border-bottom:4px solid rgb(163, 33, 33);
}
.inner_header {
    width:403px;
    height:91%;
    display:block;
    float:left;
    border: 4px solid rgb(163, 33, 33);
    border-radius: 20px;
}

.logo-container {
    height:100%;
    display: table;
    float: left;
    margin-right:38px;
}

.logo-container h1 {
    color: white;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight:200px;
}

.logo-container h1 span {
    font-weight: 800;
    color:rgb(163, 33, 33);
}

.navigation {
    height:100%;
    float: left;
}

.navigation a {
    float:left;
    height: 100%;
    display:table;
    padding: 0 20px;
}

.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    transition: 0.3s;
}

.navigation a li:hover {
    color:rgb(163, 33, 33);
}

.account {
    height:60%;
    width: 160px;
    overflow: hidden;
    float:right;
    margin: 15px;
    vertical-align:middle;
    border-radius: 30px;
    border: 3px solid rgb(163, 33, 33);
    color:white;
    transition:0.3s;
}

.account img {
    border-radius: 20px;
    float:right;
    margin:4px;
}

.account h3 {
    float:right;
    margin: 14px;
}

.account:hover {
    background: rgb(163, 33, 33);
    color: #201f1f;
    border-color: #201f1f;
}

.signup {
    float: right;
    margin-top :30px;
    color: white;
    transition:0.3s;
}

.signup:hover {
    color: rgb(163, 33, 33);
}

.signform {
    width: 300px;
}

.logout {
    transition: 0.3s;
}

.logout:hover {
    color: #201f1f;
}

.SearchWrapper {
    float: left;
    margin-top:20px;
    height: 40px;
    width: 400px;
    color: white;
}

.SearchBar input {
    float:left;
    background: none;
    border:none;
    border: 2px solid rgb(163, 33, 33);
    height: 40px;
    border-radius: 10px;
    font-size:medium;
    color: white;
}

.SearchBar #bar {
    width:250px;
    float:left;
}

.SearchBar #butt {
    width:50px;
    color: red;
    transition: 0.2s;
    float:left;
}

.SearchBar #butt:hover {
    border: 2px solid white;
    color: rgb(163, 33, 33);
}