.ViewGoods1 {
    margin: 40px 70px auto;
    width: 380px;
    float: left;
    height: 700px;
}

.ViewGoods1 img {
    float: left;
    border: 3px solid rgb(163, 33, 33);
    border-radius: 10px;
}

.ViewGoods2 {
    margin: 40px -40px auto;
    width: 1000px;
    float: left;
}

.ViewGoods2 button{
    float: left;
    padding: 10px;
    width: 100px;
    margin-right: 25px;
    margin-left: 25px;
    background: none;
    border: 3px solid rgb(163, 33, 33);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.ViewGoods2 button:hover {
    color:rgb(163, 33, 33);
    border: 3px solid white;

}

.ViewGoods3 {
    margin: 40px -40px auto;
    width: 1000px;
    float: left;
}

.ViewGoods3 #price {
    float: left;
    color: gold;
    margin-left: 25px;
    padding: 10px;
    border: 3px solid rgb(163, 33, 33);
    border-radius: 10px;
}

.ViewGoods4 {
    margin: 0px -40px auto;
    width: 700px;
    float: left;
}

.ViewGoods4 #name {
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    color: white;
}

.ViewGoods4 #name2 {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    color: white;
}

.ViewGoods5 {
    margin: 0px -40px auto;
    width: 700px;
    margin-top: 50px;
    margin-left: -110px;
    float: left;
}

.ViewGoods5 #desc {
    float: left;
    margin-top: -25px;
    margin-left: 94px;
    color: white;
}

.ViewGoods5 #desc2 {
    float: left;
    margin-left: 10px;
    margin-top: -20px;
    color: white;
}

.ViewGoods6 {
    margin: 40px -40px auto;
    width: 1000px;
    float: left;
}

.ViewGoods6 button{
    float: left;
    padding: 10px;
    margin-right: 25px;
    margin-left: 25px;
    background: none;
    border: 3px solid rgb(163, 33, 33);
    font-size: 20px;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.ViewGoods6 button:hover {
    color:rgb(163, 33, 33);
    border: 3px solid white;

}

.ViewGoods7 {
    margin: 0px -40px auto;
    width: 700px;
    float: left;
}

.ViewGoods7 #category {
    float: left;
    margin-left: 25px;
    margin-top: 20px;
    color: white;
}

.ViewGoods7 #category2 {
    float: left;
    margin-left: 10px;
    margin-top: 25px;
    color: white;
}

.ViewGoods8 {
    margin: 40px -40px auto;
    width: 1000px;
    float: left;
}

.ViewGoods8 #quantity {
    float: left;
    color: gold;
    margin-left: 25px;
    padding: 10px;
    border: 3px solid rgb(163, 33, 33);
    border-radius: 10px;
}